# Determining internet user clusters using KNN

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib as plt
import sklearn

### Motivations: 
For this project we are going to build a KNN with Internet data to create internet user clusters. There are over 200 countries represented in the data, rather than assuming that the clusters exist based on region, we will use KNN to determined the trends of internet access, usability and cellular device usage.

### Usability:
As companies grow, and focus on their expanding efforts, it is important to determine where to allocate resources and investments that gurantee success. For IoT products, having insight into accessibility is one of the determinants of marketing and investment efforts. 

### Data:
The columns in the data

In [13]:
df = pd.read_csv('Final.csv', index_col=None)
df

,Unnamed: 0,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
0,0,Afghanistan,AFG,1980,0.000000,0.000000,0,0.000000
1,1,Afghanistan,AFG,1981,0.000000,0.000000,0,0.000000
2,2,Afghanistan,AFG,1982,0.000000,0.000000,0,0.000000
3,3,Afghanistan,AFG,1983,0.000000,0.000000,0,0.000000
4,4,Afghanistan,AFG,1984,0.000000,0.000000,0,0.000000
...,...,...,...,...,...,...,...,...
8862,8862,Zimbabwe,ZWE,2016,91.793457,23.119989,3341464,1.217633
8863,8863,Zimbabwe,ZWE,2017,98.985077,24.400000,3599269,1.315694
8864,8864,Zimbabwe,ZWE,2018,89.404869,25.000000,3763048,1.406322
8865,8865,Zimbabwe,ZWE,2019,90.102287,25.100000,3854006,1.395818
8866,8866,Zimbabwe,ZWE,2020,88.755806,29.299999,4591211,1.368916

In [14]:
df.drop(columns=["Unnamed: 0"],inplace=True)
df

,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
0,Afghanistan,AFG,1980,0.000000,0.000000,0,0.000000
1,Afghanistan,AFG,1981,0.000000,0.000000,0,0.000000
2,Afghanistan,AFG,1982,0.000000,0.000000,0,0.000000
3,Afghanistan,AFG,1983,0.000000,0.000000,0,0.000000
4,Afghanistan,AFG,1984,0.000000,0.000000,0,0.000000
...,...,...,...,...,...,...,...
8862,Zimbabwe,ZWE,2016,91.793457,23.119989,3341464,1.217633
8863,Zimbabwe,ZWE,2017,98.985077,24.400000,3599269,1.315694
8864,Zimbabwe,ZWE,2018,89.404869,25.000000,3763048,1.406322
8865,Zimbabwe,ZWE,2019,90.102287,25.100000,3854006,1.395818
8866,Zimbabwe,ZWE,2020,88.755806,29.299999,4591211,1.368916

In [91]:
print('Total number of unique countries represented in the dataset: ', df['Entity'].nunique())

Total number of unique countries represented in the dataset:  229

In [26]:
df.columns

Index(['Entity', 'Code', 'Year', 'Cellular Subscription', 'Internet Users(%)',
       'No. of Internet Users', 'Broadband Subscription'],
      dtype='object')

In [89]:
af_country = df[df['Entity'] == 'Zimbabwe']
af_country

,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
8826,Zimbabwe,ZWE,1980,0.000000,0.000000,0,0.000000
8827,Zimbabwe,ZWE,1981,0.000000,0.000000,0,0.000000
8828,Zimbabwe,ZWE,1982,0.000000,0.000000,0,0.000000
8829,Zimbabwe,ZWE,1983,0.000000,0.000000,0,0.000000
8830,Zimbabwe,ZWE,1984,0.000000,0.000000,0,0.000000
8831,Zimbabwe,ZWE,1985,0.000000,0.000000,0,0.000000
8832,Zimbabwe,ZWE,1986,0.000000,0.000000,0,0.000000
8833,Zimbabwe,ZWE,1987,0.000000,0.000000,0,0.000000
8834,Zimbabwe,ZWE,1988,0.000000,0.000000,0,0.000000
8835,Zimbabwe,ZWE,1989,0.000000,0.000000,0,0.000000
8836,Zimbabwe,ZWE,1990,0.000000,0.000000,0,0.000000
8837,Zimbabwe,ZWE,1991,0.000000,0.000000,0,0.000000
8838,Zimbabwe,ZWE,1992,0.000000,0.000000,0,0.000000
8839,Zimbabwe,ZWE,1993,0.000000,0.000000,0,0.000000
8840,Zimbabwe,ZWE,1994,0.000000,0.001739,189,0.000000
8841,Zimbabwe,ZWE,1995,0.000000,0.007684,845,0.000000
8842,Zimbabwe,ZWE,1996,0.000000,0.016790,1877,0.000000
8843,Zimbabwe,ZWE,1997,0.049205,0.033080,3759,0.000000
8844,Zimbabwe,ZWE,1998,0.161742,0.081648,9429,0.000000
8845,Zimbabwe,ZWE,1999,1.471743,0.161676,18943,0.000000
8846,Zimbabwe,ZWE,2000,2.242491,0.401434,47508,0.000000
8847,Zimbabwe,ZWE,2001,2.633380,0.799846,95270,0.006466
8848,Zimbabwe,ZWE,2002,2.833953,1.100000,131831,0.023816
8849,Zimbabwe,ZWE,2003,3.034921,1.800000,217365,0.053296
8850,Zimbabwe,ZWE,2004,3.541998,2.100000,255379,0.074601
8851,Zimbabwe,ZWE,2005,5.358335,2.400000,293394,0.084336
8852,Zimbabwe,ZWE,2006,6.985699,2.400000,295932,0.083913
8853,Zimbabwe,ZWE,2007,10.000504,3.000000,373517,0.124103
8854,Zimbabwe,ZWE,2008,13.366570,3.500000,439262,0.145401
8855,Zimbabwe,ZWE,2009,31.859266,4.000000,507192,0.376228
8856,Zimbabwe,ZWE,2010,60.640793,6.400000,821746,0.259889
8857,Zimbabwe,ZWE,2011,71.349236,8.400000,1094166,0.263682
8858,Zimbabwe,ZWE,2012,96.178352,12.000000,1591840,0.548259
8859,Zimbabwe,ZWE,2013,102.118248,15.500000,2101090,0.778375
8860,Zimbabwe,ZWE,2014,86.839676,16.364740,2267459,1.120463
8861,Zimbabwe,ZWE,2015,92.347107,22.742819,3219232,1.187053
8862,Zimbabwe,ZWE,2016,91.793457,23.119989,3341464,1.217633
8863,Zimbabwe,ZWE,2017,98.985077,24.400000,3599269,1.315694
8864,Zimbabwe,ZWE,2018,89.404869,25.000000,3763048,1.406322
8865,Zimbabwe,ZWE,2019,90.102287,25.100000,3854006,1.395818
8866,Zimbabwe,ZWE,2020,88.755806,29.299999,4591211,1.368916

In [69]:
df.describe()

,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
count,8867.000000,8867.000000,8867.000000,8.867000e+03,8867.000000
mean,2000.151799,39.989614,17.043606,1.089138e+07,4.440695
std,11.812151,51.981410,26.883498,1.248841e+08,9.755705
min,1980.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,1990.000000,0.000000,0.000000,0.000000e+00,0.000000
50%,2000.000000,5.501357,0.855662,1.004700e+04,0.000000
75%,2010.000000,82.231594,25.449939,8.664195e+05,2.007603
max,2020.000000,436.103027,100.000000,4.699886e+09,78.524361

We are posed with the challenge of what to do with our 'Year' column. Does it matter to look at historical data? Should we perform a time series analysis? What would we use this time series data for? 

What I am interested in creating is a series of clusters that determine high-internet users, intermediate, and low-internet usage countries/regions/clusters. If analyzing the dataset from the yearly perspective does not serve this purpose, should we just focus on the last year available of the data? Let's find out if we even have all of the entries for that year first.

In [98]:
df_2020 = df[df['Year']==2020]

In [101]:
df_2020.isnull()

,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
40,False,False,False,False,False,False,False
81,False,False,False,False,False,False,False
122,False,False,False,False,False,False,False
185,False,False,False,False,False,False,False
226,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
8702,False,False,False,False,False,False,False
8743,False,False,False,False,False,False,False
8784,False,False,False,False,False,False,False
8825,False,False,False,False,False,False,False
8866,False,False,False,False,False,False,False